body {
  direction: rtl; 
  background-color: #FAFAFA;
}

header {
padding: 1rem 7rem;
}

.nav-item {
position: relative;
  display: inline-block;
}
.drop-down{
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 700px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  padding: 12px 16px;
}

.nav-item:hover .drop-down{
    display: block;
}

.arr-right .breadcrumb-item+.breadcrumb-item::before {
  content: "›";
  vertical-align:top;
  color: #1780DF;
  font-size:35px;
  line-height:18px;
}

button {
  color: #FB815E;
  font-weight: bolder;
  background-color: white;
  border-style: solid;
  border-width: 0.1rem;
  border-color: #FB815E;
  border-radius: 5px;
  padding: 0.5rem;
  width: 10rem;
}
button:hover {
  color:white;
  background-color: #FB815E;
}

a {color: black;}
a:hover {color:  #1780DF;}

.hoverSection a{color: white;}
.hoverSection:hover a{color: #1780DF;}
.hoverSection:hover {background-color: white;}

.bread {color: #1780DF;}

@media all and (min-width: 992px) {
  .navbar .nav-item .nav-link {color: black;}
  .navbar .nav-item .enter {color: #1780DF; font-weight: bolder;}
	.navbar .nav-item .dropdown-menu{ display: none;}
	.navbar .nav-item:hover .nav-link{ color:red;  }
	.navbar .nav-item:hover .dropdown-menu{ display: block; }
  .navbar .nav-item .dropdown-menu{ margin-top:0; color: black;}
}

